body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

main {
    margin: 20px;
}

#qr-scanner {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

#content-display {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.hidden {
    display: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.red {
    background: red;
}

.green {
    background: greenyellow;
}